<div class="grid grid-cols-1 md:grid-cols-3 p-8 gap-8">

  <% @videos.each do |video|%>
    <%= link_to video_path(video), data: { turbo: false} do %>
      
      <% if video.thumbnail.attached? %>
        <%= image_tag video.thumbnail, class:"w-full h-48 rounded" %>
      <% end %>

      <h3 class="mt-2"><%= video.title %> </h3>

      <p class="mt-2"><%= video.author %> </p>
    <% end %>
      
  <% end %>
  
</div>