<div class="p-8 max-w-md mx-auto">
  
  <% if @video.thumbnail.attached? %>
    <%= image_tag @video.thumbnail, class:"w-full" %>
  <% end %>
  
  <h3 class="mt-2"><%= @video.title %></h3>

  <p class="mt-5"><%= @video.author %> </p>

  <p class="mt-5"><%= @video.description %> </p>

</div>