<div>
  
  <% if @video.thumbnail.attached? %>
    <%= image_tag @video.thumbnail %>
  <% end %>
  
  <h3 class="mt-5"><%= @video.title %></h3>

  <p class="mt-5"><%= @video.author %> </p>

  <p class="mt-5"><%= @video.description %> </p>

</div>