<div class="p-12 ">
    <h2 class="text-3xl text-center text-blue-500 font-bold">My Learning </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 items-center ">
        <% if @enrollments.any? %>
            <% @enrollments.each do |enrol|%>
                <%= link_to video_path(enrol.video) do %>
                    <div class="mt-5">
                        <%= image_tag enrol.video.thumbnail, class:"w-full h-48" %>
                    </div>

                    <div class="mt-2">
                        <%= enrol.video.title %>
                    </div>

                    <div class="">
                        <%= enrol.video.author %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <p>You have not yet enrolled in any course </p>
        <% end %>
</div>